@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

/* ACHIVER BG IMAGE */
.image-bg {
  background-image: url("/schoolPhoto.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.overlay-bg {
  /* background-color: rgba(202, 0, 0, 0.6); Adjust color and opacity */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

/* Here we want to style classes that are coming from leaflet. */
.leaflet-popup .leaflet-popup-content-wrapper {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  width: 190px;
  height: auto;
  background-color: rgb(252, 252, 252);
  color: rgb(70, 68, 68);
  border-radius: 7px;
}

.leaflet-popup .leaflet-popup-content {
  margin: 0;
}

.leaflet-popup .leaflet-popup-content p {
  margin: 0;
}

.leaflet-popup .leaflet-popup-content-wrapper {
  border-bottom: 5px solid #0a1d30;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: #0a1d30;
}

.gallery-bg {
  background: linear-gradient(to bottom, black, #0a1d30);
}
.footer-bg {
  background: linear-gradient(to top, black, #0a1d30);
}
